<footer class="container-footer">
  <section>
    <h3 class="title-footer">¿Estas listos para hacer tu consulta?</h3>

    <div class="social-media">
      <p class="socialmedia-legend">siguenos en:</p>
      <i class="socialmedia-icon bx bxl-facebook-circle"></i>
      <i class="socialmedia-icon bx bxl-instagram"></i>
      <i class="socialmedia-icon bx bxl-twitter"></i>
      <div class="enlaces">

        <a class="link" href="https://www.google.com/" target="blank">ir a
          Google</a>
      </div>

    </div>
  </section>

</footer>