<div class="container-fluid" id="page-wrapper">

  <div class="row">
    <div class="col-12 col-sm-12">

      <h1 class="text-center my-3">La mejor Experiencia en diseño nos encargamos
        de llevar tu idea al siguiente nivel</h1>
      <img class="img-fluid" src="/images/back.jpg" alt="foto" />

    </div>
  </div>
</div>
<div class="container">
  <section class="productos">
    <div class="container-trabajos">
      <h2 class="subtitle">Nuestros Productos</h2>
      <p class="copy-section">Ofrecemos soluciones de diseños personalizados
        para su casa</p>

      <article class="container-card-columns">
        <div class="card">
          <img
            src="images/IMG-20211122-WA0021organizador.jpg"
            alt="Muebles"
            class="card-img"
          />
          <div class="card-text">
            <p class="card-list">Especialistas en diseño</p>
            <h3 class="card-title">Muebles organizadores</h3>
            <p class="card-copy">Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Magni, dicta minus? Repellendus a distinctio
              odio odit iusto veniam ducimus.</p>

          </div>
        </div>
        <div class="card">
          <img
            src="images/IMG-20211122-WA0041mueble para tv3.jpg"
            alt="muebles2"
            class="card-img"
          />
          <div class="card-text">
            <p class="card-list">Especialistas en diseño</p>
            <h3 class="card-title">Mueble para tv</h3>
            <p class="card-copy">Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Magni, dicta minus? Repellendus a distinctio
              odio odit iusto veniam ducimus</p>

          </div>
        </div>
        <div class="card">
          <img
            src="images/IMG-20211201-WA0065placar2.jpg"
            alt="mueble3"
            class="card-img"
          />
          <div class="card-text">
            <p class="card-list">Especialistas en diseño</p>
            <h3 class="card-title">Placares</h3>
            <p class="card-copy">Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Magni, dicta minus? Repellendus a distinctio
              odio odit iusto veniam ducimus.</p>

          </div>
        </div>
        <div class="card">
          <img
            src="images/IMG-20211122-WA0058cama1plazafuncional.jpg"
            alt="Muebles4"
            class="card-img"
          />
          <div class="card-text">
            <p class="card-list">Especialistas en diseño</p>
            <h3 class="card-title">CAMAS 1 PLAZA</h3>
            <p class="card-copy">Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Magni, dicta minus? Repellendus a distinctio
              odio odit iusto veniam ducimus.</p>

          </div>
        </div>
        <div class="card">
          <img
            src="images/IMG-20211201-WA0033 cama de 2 plazas funcionales.jpg"
            alt="Muebles5"
            class="card-img"
          />
          <div class="card-text">
            <p class="card-list">Especialistas en diseño</p>
            <h3 class="card-title">CAMAS 2 PLAZAS</h3>
            <p class="card-copy">Lorem ipsum dolor sit amet, consectetur
              adipisicing elit. Magni, dicta minus? Repellendus a distinctio
              odio odit iusto veniam ducimus</p>

          </div>
        </div>
      </article>
    </div>
  </section>
  <section>
    <div class="container-servicios">
      <h2 class="subtitle">Servicios Integrales</h2>
      <p class="copy">
        Somos tu mejor opcion para transformar el diseño interior de tu
        casa.Realizamos diseños en autocad a medidas y personalizados, asi como
        las instalaciones en pie de obra. Nuestros productos están orientados a
        profesionales decoración, construcción, como al cliente particular.
        Cualquier tipo de muebles para living, cocinas,habitaciones,baños etc.
        será estudiado por nuestros profesionales para poder facilitarse un
        presupuesto exacto de su ejecución.</p>
    </div>

  </section>
</div>